.filter-sidebar {
  margin-top: 80px;
  width: 350px;
  height: 720px;
  position: absolute;
}

.genres-filter {
  padding-top: 40px;
  padding-left: 20px;
  width: 300px;
}

.film-txt {
  padding-top: 40px;
  padding-left: 20px;
  font-size: xx-large;
}

.option-sorting {
  padding-left: 20px;
}

.option-sort {
  width: 300px;
}

.year-slider {
  padding-top: 40px;
  padding-left: 20px;
  width: 300px;
}

.filter-reset {
  display: inline;
  float: right;
  margin-top: -58px;
  margin-right: 30px;
  cursor: pointer;
}

.pagination {
  position: absolute;
  bottom: 15px;
  margin-left: 25px;
}
