body {
    background-color: #E0EBFF;
}

div#main_content_ID {
    margin: 100px auto;
    width: 476px;
    height: 340px;
    background-color: #FFFFFF;
    border: solid 1px #000000 ;
}

div.priority_article {
    width: 43px;;
    height: 21px;
    margin: 50px auto 12px auto;
    color: #000000;
}

.input_field {
    width: 405px;
    font-size: 18px;
    height: 45px;
    border: #989898 solid 1px;
    border-radius: 6px;
    display: block;
    margin: auto;
}

.add_button {
    position: absolute;
    margin-left: 410px;
    margin-top: -36px;
    cursor: pointer;
}
