.email-modal-backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9E9E9E;
  backdrop-filter: blur(20px);
}

.email-modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  border: none;
  backdrop-filter: blur(40px);
  padding: 24px 32px;
  width: 444px;
  height: 183px;
  margin: auto;
  border-radius: 10px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
  min-width: 444px;
}

.email-modal-header .email-modal-content {
  display: flex;
  align-items: center;
}

.email-modal-body .email-modal-content {
}

.email-modal-footer .email-modal-content {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin-top: 40px;
}

.email-modal-cancel-button{
  position: relative;
  top: 40px;
  left: 240px;
}

.email-modal-request-button{
  position: relative;
  top: 40px;
  left: 260px;
}

.email-modal-title{
  font-size: x-large;
}
