.email-modal-backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
  backdrop-filter: blur(20px);
}

.email-modal-content {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid black;
  backdrop-filter: blur(40px);
  padding: 24px 32px;
  width: 500px;
  margin: auto;
  border-radius: 25px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
}

.email-modal-header .email-modal-content {
  display: flex;
  align-items: center;
}

.email-modal-body .email-modal-content {
  color: #666;
}

.email-modal-footer .email-modal-content {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin-top: 40px;
}
