#settingsPOPUP{
    width: 321px;
    height: 534px;
    background-color: #444;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 50px;
}

#settingsPOPUP_body{
    width: 273px;
    height: 319px;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    text-align: center;
}

#settingsPOPUP:target{
    display:block;
}

#settingsPOPUP_text{
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

.closePOPUP{
    float: right;
    margin-top: -33px;
    margin-right: 20px;
}

#settingsPOPUP_ame{
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
}

#settingsPOPUP_textField{
    width: 207px;
    height: 28px;
    border: 1px solid black;
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
}

#settingsPOPUP_buttonSEND{
    width: 27px;
    height: 32px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}