body{
    background-color: #CCC;
    font-family: "Roboto-Light"
}

#mainContent{
    height: 533px;
    width: 320px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border: 1px solid black;
}

#settings{
    border: 1px solid black;
    width: 98px;
    height: 32px;
    margin: 10px 7px;
    text-align: center;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
#buttonSETTINGS{
    margin-top: 5px;
}

#logout{
    display: inline;
    float: right;
    border: 1px solid black;
    width: 66px;
    height: 32px;
    margin-top: -44px;
    margin-right: 7px;
    text-align: center;
    cursor: pointer;
}

#buttonLOGIN{
    margin-top: 5px;  
}

#chatContent{
    width: 302px;
    height: 437px;
    border: 1px solid black;
    margin-left: 8px;
}

#textField{
    width: 267px;
    height: 28px;
    border: 1px solid black;
    margin-left: 8px;
    margin-top: 4px;
    cursor: pointer;
}

#buttonSEND{
    width: 27px;
    height: 32px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}
#chatContent{
    position:relative;
    padding-bottom: 0;
}
#chat{
    position:absolute;
    bottom: 5px;
    display: flex;
    flex-direction: column;
}

.userMessage, .myMessage{
    background-color: #CCC;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 250px;

}

.text{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
}

.myMessage{
    float: right;
}

.userMessage{
    float: inline-start;
}

.time{
    margin-top: -15px;
    margin-bottom: 0;
    margin-right: 0px;
    font-family: "Roboto-Light";
    font-style: italic;
    font-size: small;
    padding-right: 5px;
    float: inline-end;
}    

.space{
    width: 267px;
    float: right;
}