body{
    background-color: #555;

}

.mainContent{
    margin: auto;
    height: 400px;
    width: 400px;
    background-color: white;
}

.titleLogin{
    margin-left: 140px;
    padding-top: 50px;
}

.examples{
    margin-left: 10px;
    margin-top: 10px;
}