.token-modal-backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9e9e9e;
  backdrop-filter: blur(20px);
}

.token-modal-content {
  display: flex;
  flex-direction: column;
  background: white;
  border: none;
  backdrop-filter: blur(40px);
  padding: 24px 32px;
  width: 444px;
  height: 183px;
  margin: auto;
  border-radius: 10px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
  min-width: 444px;
}

.token-modal-header .token-modal-content {
  display: flex;
  align-items: center;
}


.token-modal-footer .token-modal-content {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin-top: 40px;
}

.token-modal-cancel-button {
  position: relative;
  top: 40px;
  left: 270px;
}

.token-modal-request-button {
  position: relative;
  top: 40px;
  left: 290px;
}

.token-modal-title {
  font-size: x-large;
}
